**Inventory Record**

In [79]:
Record = { 1001 : {"Product_name" : "Suitcase"      , "Price" : 4570  , "Brand" : "AmericanTourister" , "Quantity" : 250 , "Seller" : "Cloudtail" , "Rating" : 4.8},
           1002 : {"Product_name" : "Television"    , "Price" : 35000 , "Brand" : "LG"                , "Quantity" : 700 , "Seller" : "Cloudtail" , "Rating" : 4.5},
           1003 : {"Product_name" : "Speakers"      , "Price" : 1570  , "Brand" : "BOAT"              , "Quantity" : 900 , "Seller" : "Appario"   , "Rating" : 5.0},
           1004 : {"Product_name" : "DSLR_camera"   , "Price" : 55570 , "Brand" : "Canon"             , "Quantity" : 800 , "Seller" : "Appario"   , "Rating" : 4.9},
           1005 : {"Product_name" : "Casual_shoe"   , "Price" : 4500  , "Brand" : "Red_tape"          , "Quantity" : 875 , "Seller" : "Ria"       , "Rating" : 4.1}, 
           1006 : {"Product_name" : "Formal_shoe"   , "Price" : 2400  , "Brand" : "Puma"              , "Quantity" : 580 , "Seller" : "Rupal"     , "Rating" : 4.7}, 
           1007 : {"Product_name" : "Sports_shoe"   , "Price" : 4578  , "Brand" : "Adidas"            , "Quantity" : 370 , "Seller" : "shoppers"  , "Rating" : 4.6},
           1008 : {"Product_name" : "Wallet"        , "Price" : 1450  , "Brand" : "Lavie"             , "Quantity" : 100 , "Seller" : "shrimadav" , "Rating" : 4.2}, 
           1009 : {"Product_name" : "Sunglasses"    , "Price" : 6247  , "Brand" : "Polariod"          , "Quantity" : 490 , "Seller" : "Cloudtail" , "Rating" : 4.0}, 
           1010 : {"Product_name" : "Wrist_watch"   , "Price" : 7621  , "Brand" : "Mutaqinoti"        , "Quantity" : 720 , "Seller" : "Cloudtail" , "Rating" : 4.4}, 
           1011 : {"Product_name" : "Phone"         , "Price" : 74000 , "Brand" : "one_plus"          , "Quantity" : 490 , "Seller" : "Perfect"   , "Rating" : 4.7}, 
           1012 : {"Product_name" : "Refrigerator"  , "Price" : 84000 , "Brand" : "Samsung"           , "Quantity" : 350 , "Seller" : "Appario"   , "Rating" : 4.5}, 
           1013 : {"Product_name" : "Laptop"        , "Price" : 69000 , "Brand" : "Dell"              , "Quantity" : 245 , "Seller" : "Ria"       , "Rating" : 4.5}, 
           1014 : {"Product_name" : "Printer"       , "Price" : 21000 , "Brand" : "HP"                , "Quantity" : 320 , "Seller" : "Cloudtail" , "Rating" : 4.6}, 
           1015 : {"Product_name" : "Power_bank"    , "Price" : 2410  , "Brand" : "Syska"             , "Quantity" : 625 , "Seller" : "Rupal"     , "Rating" : 4.1}, 
           1016 : {"Product_name" : "Tablet"        , "Price" : 35410 , "Brand" : "Apple"             , "Quantity" : 489 , "Seller" : "shrimadav" , "Rating" : 4.0}, 
           1017 : {"Product_name" : "Cricket_kit"   , "Price" : 47581 , "Brand" : "SG"                , "Quantity" : 625 , "Seller" : "Cloudtail" , "Rating" : 4.0}, 
           1018 : {"Product_name" : "Cycle"         , "Price" : 17245 , "Brand" : "Hercules"          , "Quantity" : 425 , "Seller" : "Appario"   , "Rating" : 4.0}, 
           1019 : {"Product_name" : "Trimmer"       , "Price" : 3542  , "Brand" : "philips"           , "Quantity" : 500 , "Seller" : "Appario"   , "Rating" : 4.4}, 
           1020 : {"Product_name" : "Gloves"        , "Price" : 7582  , "Brand" : "Royal_enfield"     , "Quantity" : 412 , "Seller" : "Cloudtail" , "Rating" : 4.1}, 
           1021 : {"Product_name" : "Football"      , "Price" : 1452  , "Brand" : "Vector_X"          , "Quantity" : 123 , "Seller" : "shrimadav" , "Rating" : 4.4}, 
           1022 : {"Product_name" : "Chocolates"    , "Price" : 1785  , "Brand" : "Diary_milk"        , "Quantity" : 900 , "Seller" : "Perfect"   , "Rating" : 5.0}, 
           1023 : {"Product_name" : "Skipping_rope" , "Price" : 1496  , "Brand" : "Aurion"            , "Quantity" : 400 , "Seller" : "shrimadav" , "Rating" : 4.9}, 
           1024 : {"Product_name" : "Yoga_mat"      , "Price" : 789   , "Brand" : "OJS"               , "Quantity" : 750 , "Seller" : "Rupal"     , "Rating" : 4.8}, 
           1025 : {"Product_name" : "Tent"          , "Price" : 6210  , "Brand" : "Zorzel"            , "Quantity" : 300 , "Seller" : "shrimadav" , "Rating" : 4.1}, 
           1026 : {"Product_name" : "Camping_kit"   , "Price" : 7814  , "Brand" : "Generic"           , "Quantity" : 400 , "Seller" : "Ria"       , "Rating" : 4.0}, 
           1027 : {"Product_name" : "Treadmills"    , "Price" : 14895 , "Brand" : "Lifelong"          , "Quantity" : 500 , "Seller" : "Cloudtail" , "Rating" : 4.0}, 
           1028 : {"Product_name" : "Step_machine"  , "Price" : 45127 , "Brand" : "Reach"             , "Quantity" : 410 , "Seller" : "Appario"   , "Rating" : 4.1}, 
           1029 : {"Product_name" : "Dining_set"    , "Price" : 35789 , "Brand" : "Royaloak"          , "Quantity" : 740 , "Seller" : "Appario"   , "Rating" : 4.5}, 
           1030 : {"Product_name" : "Sofa"          , "Price" : 35000 , "Brand" : "Furny"             , "Quantity" : 500 , "Seller" : "shrimadav" , "Rating" : 4.6}, 
           1031 : {"Product_name" : "Rucksack"      , "Price" : 14500 , "Brand" : "Wildcraft"         , "Quantity" : 500 , "Seller" : "shrimadav" , "Rating" : 4.6}, 
           1032 : {"Product_name" : "Home_theatre"  , "Price" : 45789 , "Brand" : "Sony"              , "Quantity" : 785 , "Seller" : "Cloudtail" , "Rating" : 4.8} }

Record

{1001: {'Brand': 'AmericanTourister',
  'Price': 4570,
  'Product_name': 'Suitcase',
  'Quantity': 250,
  'Rating': 4.8,
  'Seller': 'Cloudtail'},
 1002: {'Brand': 'LG',
  'Price': 35000,
  'Product_name': 'Television',
  'Quantity': 700,
  'Rating': 4.5,
  'Seller': 'Cloudtail'},
 1003: {'Brand': 'BOAT',
  'Price': 1570,
  'Product_name': 'Speakers',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Appario'},
 1004: {'Brand': 'Canon',
  'Price': 55570,
  'Product_name': 'DSLR_camera',
  'Quantity': 800,
  'Rating': 4.9,
  'Seller': 'Appario'},
 1005: {'Brand': 'Red_tape',
  'Price': 4500,
  'Product_name': 'Casual_shoe',
  'Quantity': 875,
  'Rating': 4.1,
  'Seller': 'Ria'},
 1006: {'Brand': 'Puma',
  'Price': 2400,
  'Product_name': 'Formal_shoe',
  'Quantity': 580,
  'Rating': 4.7,
  'Seller': 'Rupal'},
 1007: {'Brand': 'Adidas',
  'Price': 4578,
  'Product_name': 'Sports_shoe',
  'Quantity': 370,
  'Rating': 4.6,
  'Seller': 'shoppers'},
 1008: {'Brand': 'Lavie',
  'Price': 1450,
  'Product_name': 'Wallet',
  'Quantity': 100,
  'Rating': 4.2,
  'Seller': 'shrimadav'},
 1009: {'Brand': 'Polariod',
  'Price': 6247,
  'Product_name': 'Sunglasses',
  'Quantity': 490,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 1010: {'Brand': 'Mutaqinoti',
  'Price': 7621,
  'Product_name': 'Wrist_watch',
  'Quantity': 720,
  'Rating': 4.4,
  'Seller': 'Cloudtail'},
 1011: {'Brand': 'one_plus',
  'Price': 74000,
  'Product_name': 'Phone',
  'Quantity': 490,
  'Rating': 4.7,
  'Seller': 'Perfect'},
 1012: {'Brand': 'Samsung',
  'Price': 84000,
  'Product_name': 'Refrigerator',
  'Quantity': 350,
  'Rating': 4.5,
  'Seller': 'Appario'},
 1013: {'Brand': 'Dell',
  'Price': 69000,
  'Product_name': 'Laptop',
  'Quantity': 245,
  'Rating': 4.5,
  'Seller': 'Ria'},
 1014: {'Brand': 'HP',
  'Price': 21000,
  'Product_name': 'Printer',
  'Quantity': 320,
  'Rating': 4.6,
  'Seller': 'Cloudtail'},
 1015: {'Brand': 'Syska',
  'Price': 2410,
  'Product_name': 'Power_bank',
  'Quantity': 625,
  'Rating': 4.1,
  'Seller': 'Rupal'},
 1016: {'Brand': 'Apple',
  'Price': 35410,
  'Product_name': 'Tablet',
  'Quantity': 489,
  'Rating': 4.0,
  'Seller': 'shrimadav'},
 1017: {'Brand': 'SG',
  'Price': 47581,
  'Product_name': 'Cricket_kit',
  'Quantity': 625,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 1018: {'Brand': 'Hercules',
  'Price': 17245,
  'Product_name': 'Cycle',
  'Quantity': 425,
  'Rating': 4.0,
  'Seller': 'Appario'},
 1019: {'Brand': 'philips',
  'Price': 3542,
  'Product_name': 'Trimmer',
  'Quantity': 500,
  'Rating': 4.4,
  'Seller': 'Appario'},
 1020: {'Brand': 'Royal_enfield',
  'Price': 7582,
  'Product_name': 'Gloves',
  'Quantity': 412,
  'Rating': 4.1,
  'Seller': 'Cloudtail'},
 1021: {'Brand': 'Vector_X',
  'Price': 1452,
  'Product_name': 'Football',
  'Quantity': 123,
  'Rating': 4.4,
  'Seller': 'shrimadav'},
 1022: {'Brand': 'Diary_milk',
  'Price': 1785,
  'Product_name': 'Chocolates',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Perfect'},
 1023: {'Brand': 'Aurion',
  'Price': 1496,
  'Product_name': 'Skipping_rope',
  'Quantity': 400,
  'Rating': 4.9,
  'Seller': 'shrimadav'},
 1024: {'Brand': 'OJS',
  'Price': 789,
  'Product_name': 'Yoga_mat',
  'Quantity': 750,
  'Rating': 4.8,
  'Seller': 'Rupal'},
 1025: {'Brand': 'Zorzel',
  'Price': 6210,
  'Product_name': 'Tent',
  'Quantity': 300,
  'Rating': 4.1,
  'Seller': 'shrimadav'},
 1026: {'Brand': 'Generic',
  'Price': 7814,
  'Product_name': 'Camping_kit',
  'Quantity': 400,
  'Rating': 4.0,
  'Seller': 'Ria'},
 1027: {'Brand': 'Lifelong',
  'Price': 14895,
  'Product_name': 'Treadmills',
  'Quantity': 500,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 1028: {'Brand': 'Reach',
  'Price': 45127,
  'Product_name': 'Step_machine',
  'Quantity': 410,
  'Rating': 4.1,
  'Seller': 'Appario'},
 1029: {'Brand': 'Royaloak',
  'Price': 35789,
  'Product_name': 'Dining_set',
  'Quantity': 740,
  'Rating': 4.5,
  'Seller': 'Appario'},
 1030: {'Brand': 'Furny',
  'Price': 35000,
  'Product_name': 'Sofa',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 1031: {'Brand': 'Wildcraft',
  'Price': 14500,
  'Product_name': 'Rucksack',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 1032: {'Brand': 'Sony',
  'Price': 45789,
  'Product_name': 'Home_theatre',
  'Quantity': 785,
  'Rating': 4.8,
  'Seller': 'Cloudtail'}}

In [80]:
import json

In [81]:
js = json.dumps(Record)
js

'{"1001": {"Product_name": "Suitcase", "Price": 4570, "Brand": "AmericanTourister", "Quantity": 250, "Seller": "Cloudtail", "Rating": 4.8}, "1002": {"Product_name": "Television", "Price": 35000, "Brand": "LG", "Quantity": 700, "Seller": "Cloudtail", "Rating": 4.5}, "1003": {"Product_name": "Speakers", "Price": 1570, "Brand": "BOAT", "Quantity": 900, "Seller": "Appario", "Rating": 5.0}, "1004": {"Product_name": "DSLR_camera", "Price": 55570, "Brand": "Canon", "Quantity": 800, "Seller": "Appario", "Rating": 4.9}, "1005": {"Product_name": "Casual_shoe", "Price": 4500, "Brand": "Red_tape", "Quantity": 875, "Seller": "Ria", "Rating": 4.1}, "1006": {"Product_name": "Formal_shoe", "Price": 2400, "Brand": "Puma", "Quantity": 580, "Seller": "Rupal", "Rating": 4.7}, "1007": {"Product_name": "Sports_shoe", "Price": 4578, "Brand": "Adidas", "Quantity": 370, "Seller": "shoppers", "Rating": 4.6}, "1008": {"Product_name": "Wallet", "Price": 1450, "Brand": "Lavie", "Quantity": 100, "Seller": "shrimadav", "Rating": 4.2}, "1009": {"Product_name": "Sunglasses", "Price": 6247, "Brand": "Polariod", "Quantity": 490, "Seller": "Cloudtail", "Rating": 4.0}, "1010": {"Product_name": "Wrist_watch", "Price": 7621, "Brand": "Mutaqinoti", "Quantity": 720, "Seller": "Cloudtail", "Rating": 4.4}, "1011": {"Product_name": "Phone", "Price": 74000, "Brand": "one_plus", "Quantity": 490, "Seller": "Perfect", "Rating": 4.7}, "1012": {"Product_name": "Refrigerator", "Price": 84000, "Brand": "Samsung", "Quantity": 350, "Seller": "Appario", "Rating": 4.5}, "1013": {"Product_name": "Laptop", "Price": 69000, "Brand": "Dell", "Quantity": 245, "Seller": "Ria", "Rating": 4.5}, "1014": {"Product_name": "Printer", "Price": 21000, "Brand": "HP", "Quantity": 320, "Seller": "Cloudtail", "Rating": 4.6}, "1015": {"Product_name": "Power_bank", "Price": 2410, "Brand": "Syska", "Quantity": 625, "Seller": "Rupal", "Rating": 4.1}, "1016": {"Product_name": "Tablet", "Price": 35410, "Brand": "Apple", "Quantity": 489, "Seller": "shrimadav", "Rating": 4.0}, "1017": {"Product_name": "Cricket_kit", "Price": 47581, "Brand": "SG", "Quantity": 625, "Seller": "Cloudtail", "Rating": 4.0}, "1018": {"Product_name": "Cycle", "Price": 17245, "Brand": "Hercules", "Quantity": 425, "Seller": "Appario", "Rating": 4.0}, "1019": {"Product_name": "Trimmer", "Price": 3542, "Brand": "philips", "Quantity": 500, "Seller": "Appario", "Rating": 4.4}, "1020": {"Product_name": "Gloves", "Price": 7582, "Brand": "Royal_enfield", "Quantity": 412, "Seller": "Cloudtail", "Rating": 4.1}, "1021": {"Product_name": "Football", "Price": 1452, "Brand": "Vector_X", "Quantity": 123, "Seller": "shrimadav", "Rating": 4.4}, "1022": {"Product_name": "Chocolates", "Price": 1785, "Brand": "Diary_milk", "Quantity": 900, "Seller": "Perfect", "Rating": 5.0}, "1023": {"Product_name": "Skipping_rope", "Price": 1496, "Brand": "Aurion", "Quantity": 400, "Seller": "shrimadav", "Rating": 4.9}, "1024": {"Product_name": "Yoga_mat", "Price": 789, "Brand": "OJS", "Quantity": 750, "Seller": "Rupal", "Rating": 4.8}, "1025": {"Product_name": "Tent", "Price": 6210, "Brand": "Zorzel", "Quantity": 300, "Seller": "shrimadav", "Rating": 4.1}, "1026": {"Product_name": "Camping_kit", "Price": 7814, "Brand": "Generic", "Quantity": 400, "Seller": "Ria", "Rating": 4.0}, "1027": {"Product_name": "Treadmills", "Price": 14895, "Brand": "Lifelong", "Quantity": 500, "Seller": "Cloudtail", "Rating": 4.0}, "1028": {"Product_name": "Step_machine", "Price": 45127, "Brand": "Reach", "Quantity": 410, "Seller": "Appario", "Rating": 4.1}, "1029": {"Product_name": "Dining_set", "Price": 35789, "Brand": "Royaloak", "Quantity": 740, "Seller": "Appario", "Rating": 4.5}, "1030": {"Product_name": "Sofa", "Price": 35000, "Brand": "Furny", "Quantity": 500, "Seller": "shrimadav", "Rating": 4.6}, "1031": {"Product_name": "Rucksack", "Price": 14500, "Brand": "Wildcraft", "Quantity": 500, "Seller": "shrimadav", "Rating": 4.6}, "1032": {"Product_name": "Home_theatre", "Price": 45789, "Brand": "Sony", "Quantity": 785, "Seller": "Cloudtail", "Rating": 4.8}}'

In [82]:
type(js)

str

In [83]:
type(Record)

dict

**Creating JSON Record**

In [84]:
fd = open("Record.json",'w')

fd.write(js)

fd.close()

**Read DATA From JSON**

In [85]:
fd = open("Record.json",'r')
r = fd.read()
fd.close()

Record = json.loads(r)

In [86]:
Record

{'1001': {'Brand': 'AmericanTourister',
  'Price': 4570,
  'Product_name': 'Suitcase',
  'Quantity': 250,
  'Rating': 4.8,
  'Seller': 'Cloudtail'},
 '1002': {'Brand': 'LG',
  'Price': 35000,
  'Product_name': 'Television',
  'Quantity': 700,
  'Rating': 4.5,
  'Seller': 'Cloudtail'},
 '1003': {'Brand': 'BOAT',
  'Price': 1570,
  'Product_name': 'Speakers',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Appario'},
 '1004': {'Brand': 'Canon',
  'Price': 55570,
  'Product_name': 'DSLR_camera',
  'Quantity': 800,
  'Rating': 4.9,
  'Seller': 'Appario'},
 '1005': {'Brand': 'Red_tape',
  'Price': 4500,
  'Product_name': 'Casual_shoe',
  'Quantity': 875,
  'Rating': 4.1,
  'Seller': 'Ria'},
 '1006': {'Brand': 'Puma',
  'Price': 2400,
  'Product_name': 'Formal_shoe',
  'Quantity': 580,
  'Rating': 4.7,
  'Seller': 'Rupal'},
 '1007': {'Brand': 'Adidas',
  'Price': 4578,
  'Product_name': 'Sports_shoe',
  'Quantity': 370,
  'Rating': 4.6,
  'Seller': 'shoppers'},
 '1008': {'Brand': 'Lavie',
  'Price': 1450,
  'Product_name': 'Wallet',
  'Quantity': 100,
  'Rating': 4.2,
  'Seller': 'shrimadav'},
 '1009': {'Brand': 'Polariod',
  'Price': 6247,
  'Product_name': 'Sunglasses',
  'Quantity': 490,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1010': {'Brand': 'Mutaqinoti',
  'Price': 7621,
  'Product_name': 'Wrist_watch',
  'Quantity': 720,
  'Rating': 4.4,
  'Seller': 'Cloudtail'},
 '1011': {'Brand': 'one_plus',
  'Price': 74000,
  'Product_name': 'Phone',
  'Quantity': 490,
  'Rating': 4.7,
  'Seller': 'Perfect'},
 '1012': {'Brand': 'Samsung',
  'Price': 84000,
  'Product_name': 'Refrigerator',
  'Quantity': 350,
  'Rating': 4.5,
  'Seller': 'Appario'},
 '1013': {'Brand': 'Dell',
  'Price': 69000,
  'Product_name': 'Laptop',
  'Quantity': 245,
  'Rating': 4.5,
  'Seller': 'Ria'},
 '1014': {'Brand': 'HP',
  'Price': 21000,
  'Product_name': 'Printer',
  'Quantity': 320,
  'Rating': 4.6,
  'Seller': 'Cloudtail'},
 '1015': {'Brand': 'Syska',
  'Price': 2410,
  'Product_name': 'Power_bank',
  'Quantity': 625,
  'Rating': 4.1,
  'Seller': 'Rupal'},
 '1016': {'Brand': 'Apple',
  'Price': 35410,
  'Product_name': 'Tablet',
  'Quantity': 489,
  'Rating': 4.0,
  'Seller': 'shrimadav'},
 '1017': {'Brand': 'SG',
  'Price': 47581,
  'Product_name': 'Cricket_kit',
  'Quantity': 625,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1018': {'Brand': 'Hercules',
  'Price': 17245,
  'Product_name': 'Cycle',
  'Quantity': 425,
  'Rating': 4.0,
  'Seller': 'Appario'},
 '1019': {'Brand': 'philips',
  'Price': 3542,
  'Product_name': 'Trimmer',
  'Quantity': 500,
  'Rating': 4.4,
  'Seller': 'Appario'},
 '1020': {'Brand': 'Royal_enfield',
  'Price': 7582,
  'Product_name': 'Gloves',
  'Quantity': 412,
  'Rating': 4.1,
  'Seller': 'Cloudtail'},
 '1021': {'Brand': 'Vector_X',
  'Price': 1452,
  'Product_name': 'Football',
  'Quantity': 123,
  'Rating': 4.4,
  'Seller': 'shrimadav'},
 '1022': {'Brand': 'Diary_milk',
  'Price': 1785,
  'Product_name': 'Chocolates',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Perfect'},
 '1023': {'Brand': 'Aurion',
  'Price': 1496,
  'Product_name': 'Skipping_rope',
  'Quantity': 400,
  'Rating': 4.9,
  'Seller': 'shrimadav'},
 '1024': {'Brand': 'OJS',
  'Price': 789,
  'Product_name': 'Yoga_mat',
  'Quantity': 750,
  'Rating': 4.8,
  'Seller': 'Rupal'},
 '1025': {'Brand': 'Zorzel',
  'Price': 6210,
  'Product_name': 'Tent',
  'Quantity': 300,
  'Rating': 4.1,
  'Seller': 'shrimadav'},
 '1026': {'Brand': 'Generic',
  'Price': 7814,
  'Product_name': 'Camping_kit',
  'Quantity': 400,
  'Rating': 4.0,
  'Seller': 'Ria'},
 '1027': {'Brand': 'Lifelong',
  'Price': 14895,
  'Product_name': 'Treadmills',
  'Quantity': 500,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1028': {'Brand': 'Reach',
  'Price': 45127,
  'Product_name': 'Step_machine',
  'Quantity': 410,
  'Rating': 4.1,
  'Seller': 'Appario'},
 '1029': {'Brand': 'Royaloak',
  'Price': 35789,
  'Product_name': 'Dining_set',
  'Quantity': 740,
  'Rating': 4.5,
  'Seller': 'Appario'},
 '1030': {'Brand': 'Furny',
  'Price': 35000,
  'Product_name': 'Sofa',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 '1031': {'Brand': 'Wildcraft',
  'Price': 14500,
  'Product_name': 'Rucksack',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 '1032': {'Brand': 'Sony',
  'Price': 45789,
  'Product_name': 'Home_theatre',
  'Quantity': 785,
  'Rating': 4.8,
  'Seller': 'Cloudtail'}}

**Adding Items to the Record**

In [87]:
Product_ID   = int(input("Enter Product_ID:"))         #Adding New Item Product_ID in number
Product_name = str(input("Enter Product_name:"))       #Adding New Item Product_name in alphabets
Price        = int(input("Enter Price:"))              #Adding New Item Price in number
Brand        = str(input("Enter Brand:"))              #Adding New Item Brand in alphabets
Quantity     = int(input("Enter Quantity:"))           #Adding New Item Quantity in number
Seller       = str(input("Enter Seller:"))             #Adding New Item Seller in alphabet
Rating       = float(input("Enter Rating:"))           #Adding New Item Rating in decimal

Record[Product_ID] = {"Product_name" : Product_name , "Price" : Price , "Brand" : Brand , "Quantity" : Quantity , "Seller" : Seller , "Rating" : Rating}

js = json.dumps(Record)

fd = open("Record.json",'w')
fd.write(js)
fd.close()

Enter Product_ID:1055
Enter Product_name:Umbrella
Enter Price:450
Enter Brand:RITZ
Enter Quantity:700
Enter Seller:RIA
Enter Rating:4.9

In [88]:
Record

{'1001': {'Brand': 'AmericanTourister',
  'Price': 4570,
  'Product_name': 'Suitcase',
  'Quantity': 250,
  'Rating': 4.8,
  'Seller': 'Cloudtail'},
 '1002': {'Brand': 'LG',
  'Price': 35000,
  'Product_name': 'Television',
  'Quantity': 700,
  'Rating': 4.5,
  'Seller': 'Cloudtail'},
 '1003': {'Brand': 'BOAT',
  'Price': 1570,
  'Product_name': 'Speakers',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Appario'},
 '1004': {'Brand': 'Canon',
  'Price': 55570,
  'Product_name': 'DSLR_camera',
  'Quantity': 800,
  'Rating': 4.9,
  'Seller': 'Appario'},
 '1005': {'Brand': 'Red_tape',
  'Price': 4500,
  'Product_name': 'Casual_shoe',
  'Quantity': 875,
  'Rating': 4.1,
  'Seller': 'Ria'},
 '1006': {'Brand': 'Puma',
  'Price': 2400,
  'Product_name': 'Formal_shoe',
  'Quantity': 580,
  'Rating': 4.7,
  'Seller': 'Rupal'},
 '1007': {'Brand': 'Adidas',
  'Price': 4578,
  'Product_name': 'Sports_shoe',
  'Quantity': 370,
  'Rating': 4.6,
  'Seller': 'shoppers'},
 '1008': {'Brand': 'Lavie',
  'Price': 1450,
  'Product_name': 'Wallet',
  'Quantity': 100,
  'Rating': 4.2,
  'Seller': 'shrimadav'},
 '1009': {'Brand': 'Polariod',
  'Price': 6247,
  'Product_name': 'Sunglasses',
  'Quantity': 490,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1010': {'Brand': 'Mutaqinoti',
  'Price': 7621,
  'Product_name': 'Wrist_watch',
  'Quantity': 720,
  'Rating': 4.4,
  'Seller': 'Cloudtail'},
 '1011': {'Brand': 'one_plus',
  'Price': 74000,
  'Product_name': 'Phone',
  'Quantity': 490,
  'Rating': 4.7,
  'Seller': 'Perfect'},
 '1012': {'Brand': 'Samsung',
  'Price': 84000,
  'Product_name': 'Refrigerator',
  'Quantity': 350,
  'Rating': 4.5,
  'Seller': 'Appario'},
 '1013': {'Brand': 'Dell',
  'Price': 69000,
  'Product_name': 'Laptop',
  'Quantity': 245,
  'Rating': 4.5,
  'Seller': 'Ria'},
 '1014': {'Brand': 'HP',
  'Price': 21000,
  'Product_name': 'Printer',
  'Quantity': 320,
  'Rating': 4.6,
  'Seller': 'Cloudtail'},
 '1015': {'Brand': 'Syska',
  'Price': 2410,
  'Product_name': 'Power_bank',
  'Quantity': 625,
  'Rating': 4.1,
  'Seller': 'Rupal'},
 '1016': {'Brand': 'Apple',
  'Price': 35410,
  'Product_name': 'Tablet',
  'Quantity': 489,
  'Rating': 4.0,
  'Seller': 'shrimadav'},
 '1017': {'Brand': 'SG',
  'Price': 47581,
  'Product_name': 'Cricket_kit',
  'Quantity': 625,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1018': {'Brand': 'Hercules',
  'Price': 17245,
  'Product_name': 'Cycle',
  'Quantity': 425,
  'Rating': 4.0,
  'Seller': 'Appario'},
 '1019': {'Brand': 'philips',
  'Price': 3542,
  'Product_name': 'Trimmer',
  'Quantity': 500,
  'Rating': 4.4,
  'Seller': 'Appario'},
 '1020': {'Brand': 'Royal_enfield',
  'Price': 7582,
  'Product_name': 'Gloves',
  'Quantity': 412,
  'Rating': 4.1,
  'Seller': 'Cloudtail'},
 '1021': {'Brand': 'Vector_X',
  'Price': 1452,
  'Product_name': 'Football',
  'Quantity': 123,
  'Rating': 4.4,
  'Seller': 'shrimadav'},
 '1022': {'Brand': 'Diary_milk',
  'Price': 1785,
  'Product_name': 'Chocolates',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Perfect'},
 '1023': {'Brand': 'Aurion',
  'Price': 1496,
  'Product_name': 'Skipping_rope',
  'Quantity': 400,
  'Rating': 4.9,
  'Seller': 'shrimadav'},
 '1024': {'Brand': 'OJS',
  'Price': 789,
  'Product_name': 'Yoga_mat',
  'Quantity': 750,
  'Rating': 4.8,
  'Seller': 'Rupal'},
 '1025': {'Brand': 'Zorzel',
  'Price': 6210,
  'Product_name': 'Tent',
  'Quantity': 300,
  'Rating': 4.1,
  'Seller': 'shrimadav'},
 '1026': {'Brand': 'Generic',
  'Price': 7814,
  'Product_name': 'Camping_kit',
  'Quantity': 400,
  'Rating': 4.0,
  'Seller': 'Ria'},
 '1027': {'Brand': 'Lifelong',
  'Price': 14895,
  'Product_name': 'Treadmills',
  'Quantity': 500,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1028': {'Brand': 'Reach',
  'Price': 45127,
  'Product_name': 'Step_machine',
  'Quantity': 410,
  'Rating': 4.1,
  'Seller': 'Appario'},
 '1029': {'Brand': 'Royaloak',
  'Price': 35789,
  'Product_name': 'Dining_set',
  'Quantity': 740,
  'Rating': 4.5,
  'Seller': 'Appario'},
 '1030': {'Brand': 'Furny',
  'Price': 35000,
  'Product_name': 'Sofa',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 '1031': {'Brand': 'Wildcraft',
  'Price': 14500,
  'Product_name': 'Rucksack',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 '1032': {'Brand': 'Sony',
  'Price': 45789,
  'Product_name': 'Home_theatre',
  'Quantity': 785,
  'Rating': 4.8,
  'Seller': 'Cloudtail'},
 1055: {'Brand': 'RITZ',
  'Price': 450,
  'Product_name': 'Umbrella',
  'Quantity': 700,
  'Rating': 4.9,
  'Seller': 'RIA'}}

**Purchasing of Items From the Inventory**

In [89]:
Ui_Prod  = str(input("Enter the Product_ID: "))
Ui_Quant = int(input("Enter the Quantity: ")) 

print("Product_name: ", Record[Ui_Prod]["Product_name"])
print("Price: ", Record[Ui_Prod]["Price"])
print("Brand: ", Record[Ui_Prod]["Brand"])
print("Seller: ", Record[Ui_Prod]["Seller"])
print("Rating: ", Record[Ui_Prod]["Rating"])
print("*********************")
print("Billing Amount: ", Record[Ui_Prod]["Price"] * Ui_Quant)
print("*********************")

Record[Ui_Prod]["Quantity"] = Record[Ui_Prod]["Quantity"] - Ui_Quant

Enter the Product_ID: 1011
Enter the Quantity: 42
Product_name:  Phone
Price:  74000
Brand:  one_plus
Seller:  Perfect
Rating:  4.7
*********************
Billing Amount:  3108000
*********************

**Updating the inventory after Purchasing**

In [90]:
js = json.dumps(Record)

fd = open("Record.json",'w')
fd.write(js)
fd.close()

Record

{'1001': {'Brand': 'AmericanTourister',
  'Price': 4570,
  'Product_name': 'Suitcase',
  'Quantity': 250,
  'Rating': 4.8,
  'Seller': 'Cloudtail'},
 '1002': {'Brand': 'LG',
  'Price': 35000,
  'Product_name': 'Television',
  'Quantity': 700,
  'Rating': 4.5,
  'Seller': 'Cloudtail'},
 '1003': {'Brand': 'BOAT',
  'Price': 1570,
  'Product_name': 'Speakers',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Appario'},
 '1004': {'Brand': 'Canon',
  'Price': 55570,
  'Product_name': 'DSLR_camera',
  'Quantity': 800,
  'Rating': 4.9,
  'Seller': 'Appario'},
 '1005': {'Brand': 'Red_tape',
  'Price': 4500,
  'Product_name': 'Casual_shoe',
  'Quantity': 875,
  'Rating': 4.1,
  'Seller': 'Ria'},
 '1006': {'Brand': 'Puma',
  'Price': 2400,
  'Product_name': 'Formal_shoe',
  'Quantity': 580,
  'Rating': 4.7,
  'Seller': 'Rupal'},
 '1007': {'Brand': 'Adidas',
  'Price': 4578,
  'Product_name': 'Sports_shoe',
  'Quantity': 370,
  'Rating': 4.6,
  'Seller': 'shoppers'},
 '1008': {'Brand': 'Lavie',
  'Price': 1450,
  'Product_name': 'Wallet',
  'Quantity': 100,
  'Rating': 4.2,
  'Seller': 'shrimadav'},
 '1009': {'Brand': 'Polariod',
  'Price': 6247,
  'Product_name': 'Sunglasses',
  'Quantity': 490,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1010': {'Brand': 'Mutaqinoti',
  'Price': 7621,
  'Product_name': 'Wrist_watch',
  'Quantity': 720,
  'Rating': 4.4,
  'Seller': 'Cloudtail'},
 '1011': {'Brand': 'one_plus',
  'Price': 74000,
  'Product_name': 'Phone',
  'Quantity': 448,
  'Rating': 4.7,
  'Seller': 'Perfect'},
 '1012': {'Brand': 'Samsung',
  'Price': 84000,
  'Product_name': 'Refrigerator',
  'Quantity': 350,
  'Rating': 4.5,
  'Seller': 'Appario'},
 '1013': {'Brand': 'Dell',
  'Price': 69000,
  'Product_name': 'Laptop',
  'Quantity': 245,
  'Rating': 4.5,
  'Seller': 'Ria'},
 '1014': {'Brand': 'HP',
  'Price': 21000,
  'Product_name': 'Printer',
  'Quantity': 320,
  'Rating': 4.6,
  'Seller': 'Cloudtail'},
 '1015': {'Brand': 'Syska',
  'Price': 2410,
  'Product_name': 'Power_bank',
  'Quantity': 625,
  'Rating': 4.1,
  'Seller': 'Rupal'},
 '1016': {'Brand': 'Apple',
  'Price': 35410,
  'Product_name': 'Tablet',
  'Quantity': 489,
  'Rating': 4.0,
  'Seller': 'shrimadav'},
 '1017': {'Brand': 'SG',
  'Price': 47581,
  'Product_name': 'Cricket_kit',
  'Quantity': 625,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1018': {'Brand': 'Hercules',
  'Price': 17245,
  'Product_name': 'Cycle',
  'Quantity': 425,
  'Rating': 4.0,
  'Seller': 'Appario'},
 '1019': {'Brand': 'philips',
  'Price': 3542,
  'Product_name': 'Trimmer',
  'Quantity': 500,
  'Rating': 4.4,
  'Seller': 'Appario'},
 '1020': {'Brand': 'Royal_enfield',
  'Price': 7582,
  'Product_name': 'Gloves',
  'Quantity': 412,
  'Rating': 4.1,
  'Seller': 'Cloudtail'},
 '1021': {'Brand': 'Vector_X',
  'Price': 1452,
  'Product_name': 'Football',
  'Quantity': 123,
  'Rating': 4.4,
  'Seller': 'shrimadav'},
 '1022': {'Brand': 'Diary_milk',
  'Price': 1785,
  'Product_name': 'Chocolates',
  'Quantity': 900,
  'Rating': 5.0,
  'Seller': 'Perfect'},
 '1023': {'Brand': 'Aurion',
  'Price': 1496,
  'Product_name': 'Skipping_rope',
  'Quantity': 400,
  'Rating': 4.9,
  'Seller': 'shrimadav'},
 '1024': {'Brand': 'OJS',
  'Price': 789,
  'Product_name': 'Yoga_mat',
  'Quantity': 750,
  'Rating': 4.8,
  'Seller': 'Rupal'},
 '1025': {'Brand': 'Zorzel',
  'Price': 6210,
  'Product_name': 'Tent',
  'Quantity': 300,
  'Rating': 4.1,
  'Seller': 'shrimadav'},
 '1026': {'Brand': 'Generic',
  'Price': 7814,
  'Product_name': 'Camping_kit',
  'Quantity': 400,
  'Rating': 4.0,
  'Seller': 'Ria'},
 '1027': {'Brand': 'Lifelong',
  'Price': 14895,
  'Product_name': 'Treadmills',
  'Quantity': 500,
  'Rating': 4.0,
  'Seller': 'Cloudtail'},
 '1028': {'Brand': 'Reach',
  'Price': 45127,
  'Product_name': 'Step_machine',
  'Quantity': 410,
  'Rating': 4.1,
  'Seller': 'Appario'},
 '1029': {'Brand': 'Royaloak',
  'Price': 35789,
  'Product_name': 'Dining_set',
  'Quantity': 740,
  'Rating': 4.5,
  'Seller': 'Appario'},
 '1030': {'Brand': 'Furny',
  'Price': 35000,
  'Product_name': 'Sofa',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 '1031': {'Brand': 'Wildcraft',
  'Price': 14500,
  'Product_name': 'Rucksack',
  'Quantity': 500,
  'Rating': 4.6,
  'Seller': 'shrimadav'},
 '1032': {'Brand': 'Sony',
  'Price': 45789,
  'Product_name': 'Home_theatre',
  'Quantity': 785,
  'Rating': 4.8,
  'Seller': 'Cloudtail'},
 1055: {'Brand': 'RITZ',
  'Price': 450,
  'Product_name': 'Umbrella',
  'Quantity': 700,
  'Rating': 4.9,
  'Seller': 'RIA'}}

**Sales JSON**

In [91]:
{"Product_ID" : Ui_Prod, "Quantity" : Ui_Quant, "Billing Amount": Record[Ui_Prod]["Price"] * Ui_Quant}

{'Billing Amount': 3108000, 'Product_ID': '1011', 'Quantity': 42}

In [92]:
Sales = {1 : {"Product_ID" : Ui_Prod, "Quantity" : Ui_Quant, "Billing Amount": Record[Ui_Prod]["Price"] * Ui_Quant},
         2 : {"Product_ID" : Ui_Prod, "Quantity" : Ui_Quant, "Billing Amount": Record[Ui_Prod]["Price"] * Ui_Quant},
         3 : {"Product_ID" : Ui_Prod, "Quantity" : Ui_Quant, "Billing Amount": Record[Ui_Prod]["Price"] * Ui_Quant}}

Sales[len(Sales) + 1] = {"Product_ID" : Ui_Prod, "Quantity" : Ui_Quant, "Billing Amount": Record[Ui_Prod]["Price"] * Ui_Quant} 
Sales

{1: {'Billing Amount': 3108000, 'Product_ID': '1011', 'Quantity': 42},
 2: {'Billing Amount': 3108000, 'Product_ID': '1011', 'Quantity': 42},
 3: {'Billing Amount': 3108000, 'Product_ID': '1011', 'Quantity': 42},
 4: {'Billing Amount': 3108000, 'Product_ID': '1011', 'Quantity': 42}}

In [93]:
Sales = json.dumps(Sales)

fd = open("Sales.json",'w')
fd.write(Sales)
fd.close()

Sales

'{"1": {"Product_ID": "1011", "Quantity": 42, "Billing Amount": 3108000}, "2": {"Product_ID": "1011", "Quantity": 42, "Billing Amount": 3108000}, "3": {"Product_ID": "1011", "Quantity": 42, "Billing Amount": 3108000}, "4": {"Product_ID": "1011", "Quantity": 42, "Billing Amount": 3108000}}'